{:workflow [[:topic/sentences :stream/words]
            [:stream/words :topic/words]]
 :entities {:topic/sentences {:topic-name "sentences-topic",
                              :replication-factor 1,
                              :partition-count 1,
                              :willa.core/entity-type :topic,
                              :key-serde {:serde-keyword :jackdaw.serdes.edn/serde}
                              :value-serde {:serde-keyword :jackdaw.serdes.edn/serde}}
            :topic/words {:topic-name "words-topic",
                               :replication-factor 1,
                               :partition-count 1,
                               :willa.core/entity-type :topic,
                               :key-serde {:serde-keyword :jackdaw.serdes.edn/serde}
                               :value-serde {:serde-keyword :jackdaw.serdes.edn/serde}}

            :stream/words {:willa.core/entity-type :kstream
                           :willa.core/xform #resolve split-words-xform}}}